.previewPostCard{
    height: 400px;
    width: 350px;
    box-shadow: 0 0 10px 0 lightgrey;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.imgpost{
    height: 200px;
    width:300px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
.title{
    margin-top: 20px;
    margin-left: 20px;
}
.read-more{
    text-decoration: none;
    margin-top: 100px;
    margin-left:230px;
}